nserver 1.1.1.1
nscache 65536

log
logformat "G%Y-%m-%d %H:%M:%S %N:%p %E %U %C:%c %R:%r %O"

# For pip, uv, poetry, etc.
# allow * * *.pypi.org,pypi.org

# For Claude Code
# allow * * api.anthropic.com,*.claude.com,claude.com

allow * * *.github.com,github.com
deny *

proxy -p3128
