nserver 1.1.1.1
nscache 65536

log /dev/stdout
logformat "G%Y-%m-%d %H:%M:%S %N:%p %E %U %C:%c %R:%r %O"

#allow * * *.pypi.org,pypi.org
#allow * * api.anthropic.com

allow * * *.github.com,github.com
deny *

proxy -p3128
